@import "../../vars.css";

.navbar {
  background-color: var(--color-primary);
  color: var(--color-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 58px;
  gap: 30px;
  margin: 0 auto;
}
.contactContainer {
  display: flex;
  flex-direction: column;
}
.contactList {
  list-style: none;
  display: flex;
  gap: 10px;
}
.contactList a {
  color: var(--color-text);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contactList img {
  width: 16px;
  height: 16px;
}
.promoText h6 {
  font-size: 14px;
  font-weight: 700px;
}
.socialContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socialText h6 {
  font-size: 14px;
  font-weight: 700px;
}
.socialList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialLink {
  display: flex;
  align-items: center;
  color: var(--color-text);
}
.socialLink img {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}
